numpy==1.18.1
pandas==1.0.3
tqdm==4.46.0
nltk==3.5
matplotlib==3.4.2
seaborn==0.11.1
neo4j==4.3.1
neobolt==1.7.17
neotime==1.7.4
urllib3==1.25.11
jsonschema==3.2.0
hjson==3.0.2
torch==1.9.1+cu111
sentence-transformers==2.1.0
plotly==5.3.1
